<div class="row py-4">
    <div class="col">
      <h4 style="margin-top: 9px">Detalle del Usuario</h4>
    </div>
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #fafbfe">
          <li class="breadcrumb-item">
            <a routerLink="/empresa/admin/usuarios">Lista de Usuarios</a>
          </li>
          <li class="breadcrumb-item active">Detalle del Usuario</li>
        </ol>
      </nav>
    </div>
  </div>

  <app-usuario-detalle [admin]="true"></app-usuario-detalle>