<div class="border-bottom pb-3">
  <span class="h4"> Idiomas </span>
</div>

<div class="my-3" [formGroup]="idiomasForm">
<div formArrayName="idiomas">
  <div class="row" *ngFor="let idioma of getControls(); let i = index" [formGroupName]="i">
    <div class="col-6">
      <div class="form-group">
        <label for="Idioma">Idioma</label>
            <ng-select appearance="outline" [searchable]="false" [clearable]="false" labelForId="Idioma" formControlName="idioma">
                <ng-option *ngFor="let idioma of idiomas" [value]="idioma">
                  {{ idioma }}
                </ng-option>
            </ng-select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="nivel_oral">Nivel oral</label>
        <ng-select appearance="outline" [searchable]="false" [clearable]="false" labelForId="nivel_oral" formControlName="nivel_oral">
            <ng-option value="Principiante">
              Principiante
            </ng-option>
            <ng-option value="Intermedio">
              Intermedio
            </ng-option>
            <ng-option value="Avanzado">
              Avanzado
            </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="nivel_escrito">Nivel escrito</label>
        <ng-select appearance="outline" [searchable]="false" [clearable]="false" labelForId="nivel_escrito" formControlName="nivel_escrito">
            <ng-option value="Principiante">
              Principiante
            </ng-option>
            <ng-option value="Intermedio">
              Intermedio
            </ng-option>
            <ng-option value="Avanzado">
              Avanzado
            </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="col">
      <button class="btn btn-danger" (click)="removeOrClearIdioma(i)" style="margin-top: 30px">
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </div>
  </div>
</div>


  <button class="btn btn-success" style="display: block;" (click)="addIdiomaFormGroup()">
    Agregar idioma
  </button>

  <button class="btn btn-success rounded-pill mt-4" (click)="GuardarPerfil()">
    Guardar Perfil
  </button>
</div>
