<div class="card" style="width: 100%">
    <div class="card-body" [formGroup]="buscarForm">

    
      <div class="row">
        <div class="col">

           <!-------- Puesto ---------->
        <app-select-puesto [formGroup]="buscarForm" [obligatorio]="true"></app-select-puesto>
        <!-- <small
        *ngIf="this.buscarForm.get('puesto')?.errors?.['required']"
        class="text-danger"
      >
        Rellene este campo
      </small> -->
     

<!-- Idiomas -->
 

       
       
     </div>
        <div class="col">

          <app-select-pais-provincia-ciudad [formGroup]="buscarForm"></app-select-pais-provincia-ciudad>
        </div>     
      </div>
    

  
    </div>
    <div class="card-footer">
      <button
        class="btn btn-success rounded-pill"
        style="float: right; width: 20%"

        (click)="buscar()"
      >
        Buscar
      </button>
    </div>
  </div>
  