<span [formGroup]="formGroup">

  <div class="form-group">
    <label for="pais">País</label>
    <ng-select 
    [items]="paises" 
    bindLabel="pais" 
    formControlName="pais"
    (change)="elegirPais()">
    
    </ng-select>
  </div>

<div class="form-group" *ngIf="this.formGroup.value.pais">
    <label for="provincia">Provincia</label>
    <ng-select 
    [items]="provincias"
    bindLabel="provincia"
    formControlName="provincia"
    (change)="elegirProvincia($event)"
    >
</ng-select> 
  </div>

  <div class="form-group" *ngIf="this.formGroup.value.provincia">
    <label for="ciudad">Ciudad</label>
    <ng-select 
    [items]="ciudades"
    bindLabel="ciudad"
    formControlName="ciudad"
    >    
</ng-select> 
  </div> 

</span>
