
.main {
    margin-left: 260px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    background-color: #FAFBFE;
    height: calc(100% - 70px);
  }

  .active{
    color: #fff !important;
    background-color: #727cf5 !important;
    border-color: #727cf5 !important;
  }
