<div class="side-bar">
  <div class="text-center py-3" routerLink="/" style="cursor: pointer;">
    <img src="assets/img/ablanco.png" height="50" alt="" />
  </div>

  <div class="list-group">
    <button
      type="button"
      class="list-group-item list-group-item-action list-item"
      [routerLink]="['/empresa']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fa fa-home" aria-hidden="true"></i>
      Inicio
    </button>
    <!-- Avisos -->
    <div class="accordion" id="accordionExample">
      <button
        class="list-group-item list-group-item-action list-item"
        type="button"
        [class.active]="this.router.url.includes('avisos')"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        Tus Avisos
      </button>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordionExample"
      >
        <ul class="list-group list-group-flush" style="margin-left: 20px">
          <li
            class="list-group-item list-item list-group-item-action"
            [routerLink]="['/empresa/avisos']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Lista de Avisos
          </li>
          <li
            *ngIf="user?.emailVerified"
            class="list-group-item list-item list-group-item-action"
            [routerLink]="['/empresa/avisos/nuevo']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Publicar Aviso
          </li>
          <li
            *ngIf="categoria!='Estándar'"
            class="list-group-item list-item list-group-item-action"
            [routerLink]="['/empresa/buscar-usuarios']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Buscar Usuarios
          </li>
          <!-- <li class="list-group-item list-item list-group-item-action">A third item</li> -->
        </ul>
      </div>
    </div>

    <!-- Menu Admin -->
    <div *ngIf="admin" class="accordion" id="MenuAdmin">
      <button
        class="list-group-item list-group-item-action list-item"
        type="button"
        [class.active]="this.router.url.includes('admin')"
        data-toggle="collapse"
        data-target="#menuAdmin"
        aria-expanded="true"
        aria-controls="menuAdmin"
      >
        <i class="fa fa-user" aria-hidden="true"></i>
        Menu Admin
      </button>

      <div
        id="menuAdmin"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#MenuAdmin"
      >
        <ul class="list-group list-group-flush" style="margin-left: 20px">
          <li
            class="list-group-item list-item list-group-item-action"
            [routerLink]="['admin']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Lista de Avisos
          </li>
          <!-- <li
            class="list-group-item list-item list-group-item-action"
            [routerLink]="['admin/nuevo']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Nuevo Trabajo
          </li> -->
          <li
            class="list-group-item list-item list-group-item-action"
            [routerLink]="['admin/postulaciones']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Postulaciones
          </li>

          <li
            class="list-group-item list-item list-group-item-action"
            [routerLink]="['admin/usuarios']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Usuarios
          </li>
          <!-- <li class="list-group-item list-item list-group-item-action">A third item</li> -->
        </ul>
      </div>
    </div>
    <!-- Fin Avisos -->

  </div>
</div>

<div class="container-fluid">
  <nav class="navbar fixed-top navbar-expand-sm bg-white">
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
            
              [src]="!user?.photoURL ? 'https://via.placeholder.com/100' : user.photoURL"
              width="40"
              height="40"
              class="rounded-circle"
            />
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            style="width: 250px !important"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <div class="text-center">
              <img
                [src]="!user?.photoURL ? 'https://via.placeholder.com/100' : user.photoURL"
                width="40"
                height="40"
                class="rounded-circle"
              />
            </div>
            <p class="text-center" style="margin-bottom: 0">{{user?.displayName}}</p>
            <p class="text-center text-muted" style="font-size: 0.9em">{{user?.email}}</p>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" routerLink="/empresa/mi-perfil/datos-empresa">Mi perfil</a>
            <!-- <a class="dropdown-item" [routerLink]="['/personal/postulaciones']">Postulaciones</a> -->

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Cerrar Sesión</a>
          </div>
          <!-- <a class="nav-link text-light" [routerLink]="" (click)="logout()">Salir</a> -->
        </li>
      </ul>
    </div>
  </nav>
</div>
