<div class="side-bar">
  <div class="text-center py-3">
    <img src="assets/img/ablanco.png" height="50" alt="" />
  </div>

  <div class="list-group">
    <button
      type="button"
      class="list-group-item list-group-item-action list-item"
      [routerLink]="['/empresa']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="fa fa-home" aria-hidden="true"></i>
      Inicio
    </button>
    <!-- <button type="button" class="list-group-item list-group-item-action list-item">Postulaciones</button> -->
    <!-- <button type="button" class="list-group-item list-group-item-action list-item">Trabajos</button> -->
    <!-- Trabajos -->
    <div class="accordion" id="accordionExample">
      <button
        class="list-group-item list-group-item-action list-item"
        type="button"
        [class.active]="this.router.url.includes('trabajos')"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <i class="fa fa-briefcase" aria-hidden="true"></i>
        Trabajos
      </button>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordionExample"
      >
        <ul class="list-group list-group-flush" style="margin-left: 20px">
          <li
            class="list-group-item list-item list-group-item-action"
            [routerLink]="['trabajos']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Lista de Trabajos
          </li>
          <li
            class="list-group-item list-item list-group-item-action"
            [routerLink]="['trabajos/nuevo']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Nuevo Trabajo
          </li>
          <!-- <li class="list-group-item list-item list-group-item-action">A third item</li> -->
        </ul>
      </div>
    </div>
    <!-- Fin Trabajos -->
    <button
      type="button"
      class="list-group-item list-group-item-action list-item"
    >
      Cerrar sesión
    </button>
  </div>
</div>

<div class="container-fluid">
  <nav class="navbar fixed-top navbar-expand-sm bg-white">
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="https://via.placeholder.com/100"
              width="40"
              height="40"
              class="rounded-circle"
            />
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            style="width: 250px !important"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <div class="text-center">
              <img
                src="https://via.placeholder.com/100"
                width="40"
                height="40"
                class="rounded-circle"
              />
            </div>
            <p class="text-center" style="margin-bottom: 0">name</p>
            <p class="text-center text-muted" style="font-size: 0.9em">email</p>

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="#">Mi perfil</a>
            <!-- <a class="dropdown-item" [routerLink]="['/personal/postulaciones']">Postulaciones</a> -->

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" routerLink="">Cerrar Sesión</a>
          </div>
          <!-- <a class="nav-link text-light" [routerLink]="" (click)="logout()">Salir</a> -->
        </li>
      </ul>
    </div>
  </nav>
</div>
