<div class="side-bar">
  <div class="text-center py-3" routerLink="/empresa" style="cursor: pointer">
    <img src="assets/img/ablanco.png" height="50" alt="" />
  </div>

  <div class="list-group">

    <button
    *ngFor="let item of menu"
    type="button"
    class="list-group-item list-group-item-action list-item"
    [routerLink]="[item.url]"
    [routerLinkActive]="['active']"
    [routerLinkActiveOptions]="{ exact: (item.nombre=='Inicio' ? true :false) }"
  >
    <i [class]="'fa fa-' + item.icon" aria-hidden="true"></i>
    {{item.nombre}}
  </button>

<!-- 

    <div *ngIf="admin" class="accordion" id="MenuAdmin">
      <button
        class="list-group-item list-group-item-action list-item"
        type="button"
        [class.active]="this.router.url.includes('admin')"
        data-toggle="collapse"
        data-target="#menuAdmin"
        aria-expanded="true"
        aria-controls="menuAdmin"
      >
        <i class="fa fa-user" aria-hidden="true"></i>
        Menu Admin
      </button>

      <div
        id="menuAdmin"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#MenuAdmin"
      >
        <ul class="list-group list-group-flush" style="margin-left: 20px">
          <li
            class="list-group-item list-item list-group-item-action"
            [routerLink]="['admin']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Lista de Avisos
          </li>
      
          <li
            class="list-group-item list-item list-group-item-action"
            [routerLink]="['admin/postulaciones']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Postulaciones
          </li>

          <li
            class="list-group-item list-item list-group-item-action"
            [routerLink]="['admin/usuarios']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Usuarios
          </li>
       
        </ul>
      </div>
    </div> -->
    <div *ngIf="admin" class="accordion" id="MenuAdmin">
      <button
        class="list-group-item list-group-item-action list-item"
        type="button"
        [class.active]="this.router.url.includes('admin')"
        data-toggle="collapse"
        data-target="#menuAdmin"
        aria-expanded="true"
        aria-controls="menuAdmin"
      >
        <i class="fa fa-user" aria-hidden="true"></i>
        Menu Admin
      </button>

      <div
        id="menuAdmin"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#MenuAdmin"
      >
        <ul class="list-group list-group-flush" style="margin-left: 20px">
          <li
            class="list-group-item list-item list-group-item-action"
            [routerLink]="['/empresa/menu-admin/usuarios']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            Usuarios
          </li>
       
        </ul>
      </div>
    </div>
    <!-- Fin Avisos -->
  </div>
</div>

<div class="container-fluid" style="    padding-left: 260px;">
  <nav class="navbar fixed-top navbar-expand-sm bg-white">
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          Curriculums: {{user?.datos.curriculums}}
        </li>
        <li class="nav-item">
          Avisos: {{user?.datos.avisos}}
        </li>
      </ul>
      <ul class="navbar-nav">
      
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              src="assets/img/usuario.png"
              width="40"
              height="40"
              class="rounded-circle"
            />
          </a>
          <div
            class="dropdown-menu dropdown-menu-right"
            style="width: 250px !important"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <div class="text-center">
              <img
                src="assets/img/usuario.png"
                width="40"
                height="40"
                class="rounded-circle"
              />
            </div>
            <p class="text-center" style="margin-bottom: 0">
              {{ user?.datos.nombre }}
            </p>
            <p class="text-center text-muted" style="font-size: 0.9em">
              {{ user?.email }}
            </p>

            <div class="dropdown-divider"></div>

            <a
              class="dropdown-item"
              routerLink="/empresa/mi-perfil/datos-empresa"
              >Mi perfil</a
            >
            <!-- <a class="dropdown-item" [routerLink]="['/personal/postulaciones']">Postulaciones</a> -->

            <div class="dropdown-divider"></div>

            <a class="dropdown-item" (click)="logout()" style="cursor: pointer"
              >Cerrar Sesión</a
            >
          </div>
          <!-- <a class="nav-link text-light" [routerLink]="" (click)="logout()">Salir</a> -->
        </li>
      </ul>
    </div>
  </nav>
</div>
