<div class="row py-4">
    <div class="col">
      <h4 style="margin-top: 9px">Buscar Usuarios</h4>
    </div>
    <!-- <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #fafbfe">
          <li class="breadcrumb-item">
            <a routerLink="/empresa/avisos">Avisos</a>
          </li>
          <li class="breadcrumb-item active">Publicar Aviso</li>
        </ol>
      </nav>
    </div> -->
  </div>

  <app-buscar-usuarios></app-buscar-usuarios>