<!-- As a link -->
<nav class="navbar navbar-dark bg-dark">
  <a routerLink="/personal"><i class="fa fa-chevron-left fa-lg mx-3 back"  aria-hidden="true"></i></a>

  <a class="navbar-brand mx-auto" href="#">
    
    <img class="" src="assets/img/ablanco.png" height="50" alt="">
  </a>
</nav>
<div class="container" id="main">
    <div class="row">
      
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
          
            <h5 class="card-title text-center mb-5 fw-light fs-5">Es necesario seleccionar un tipo de cuenta para continuar</h5>
            <div class="my-5">

                <button class="btn btn-success btn-block rounded-pill" (click)="tipoCuenta('personal')" >Personal</button>
                <small class="form-text text-muted">
                    La cuenta Personal es para buscar trabajo y poder postularse.
                  </small>
            </div>
            <div class="my-5">

                <button class="btn btn-success btn-block rounded-pill" (click)="tipoCuenta('empresa')">Empresa</button>
                <small class="form-text text-muted">
                    La cuenta Empresa es para ofrecer trabajo.
                  </small>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
