<div class="row py-4">
    <div class="col">
      <h4 style="margin-top: 9px">Editar Aviso</h4>
    </div>
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color: #fafbfe">
          <li class="breadcrumb-item">
            <a routerLink="/empresa/avisos">Avisos</a>
          </li>
          <li class="breadcrumb-item">
            <a [routerLink]="'/empresa/avisos/' + job?.id">Detalle del Aviso</a>
          </li>
          <li class="breadcrumb-item active">Editar Aviso</li>
        </ol>
      </nav>
    </div>
  </div>
<app-trabajo-nuevo [job]="job" metodo="Editar"></app-trabajo-nuevo>