<app-navbar (sendUser)="checkUser($event)" [lugares]="lugares"></app-navbar>


<div class="container mt-3">

  <h3>Postulaciones</h3>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Puesto</th>
        <th scope="col">Empresa</th>
        <th scope="col">Tipo de Puesto</th>
        <th scope="col">Fecha de postulación</th>
      </tr>
    </thead>
    <tbody *ngIf="!loader">
      <tr *ngFor="let postulacion of postulaciones">
        <td> <a routerLink="/job/{{postulacion.trabajo}}">{{postulacion.puesto}}</a></td>
        <td>{{postulacion.empresa}}</td>
        <td>{{postulacion.tipo_puesto}}</td>
        <td>{{postulacion.fecha.toDate() | date:'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="loader">
        <tr *ngFor="let item of [1,2,3,4,5]">
            <td *ngFor="let item of [1,2,3,4]">
                <ngx-skeleton-loader appearance="line" [theme]="{
                    'width':'100%'
                }"></ngx-skeleton-loader>
            </td>
        </tr>
      </tbody>
  </table>  
</div>
