<section class="py-5">

  <h1 class="text-center titles">{{'valores' | translate}}</h1>

  <p class="text-center text-grey mt-5">{{'valores-text' | translate}}

  </p>
</section>


<section class="py-5 valores">
  <div class="container">

    <div class="row text-center">
      <div class="col-md text-right">
        <div class="row">
          <div class="col-11 text-white">
            <div style="border-bottom: 0.1px solid;">
              <h3>{{'INTEGRIDAD' | translate}}</h3>
              <p class="text-services">{{'INTEGRIDAD-text' | translate}}</p>
            </div>
            <div style="border-bottom: 0.1px solid;">
              <h3>{{'COMPROMISO' | translate}}</h3>
              <p class="text-services">{{'COMPROMISO-text' | translate}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md text-left">
        <div class="row">
          <div class="col-11 text-white">
            <div style="border-bottom: 0.5px solid;">
              <h3>{{'RESPETO' | translate}}</h3>
              <p class="text-services">{{'RESPETO-text' | translate}}</p>
            </div>
            <div style="border-bottom: thin  solid;">
              <h3>{{'PASION' | translate}}</h3>
              <p class="text-services">{{'PASION-text' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>