<h4 class="py-4">Postulaciones</h4>


<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">

                <div class="form-group">
                    <select
                    class="selectpicker"
                    data-live-search="true"
                    data-width="70%"
                    [(ngModel)]="empresaSeleccionada"
                    (change)="setTrabajo()"
                    >
                    <option value="" selected>Todas las Empresas</option>
                    <option
                        *ngFor="let empresa of empresas"
                        [ngValue]="empresa"
                        >
                        {{ empresa.nombre }}
                    </option>
                </select>
            </div>
        </div>
        <div class="col-lg-6" *ngIf="empresaSeleccionada">

            <div class="form-group">
                <select
                class="selectpicker"
                data-width="70%"
                [(ngModel)]="puestoSeleccionado"
                >
                <option value="" selected>Todos los puestos</option>
                <option
                    *ngFor="let trabajo of trabajos"
                    [value]="trabajo.puesto"
                    >
                    {{ trabajo.puesto }}
                </option>
            </select>
        </div>
    </div>
</div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Empresa</th>
          <th scope="col">Puesto</th>
            <th scope="col">Nombre del postulante</th>
          <th scope="col">Fecha de postulación</th>
          <th scope="col">CV</th>
        </tr>
      </thead>
      <tbody *ngIf="!loader">
        <tr *ngFor="let postulacion of postulaciones 
        | filterEmpresa:empresaSeleccionada
        | filterPuestos:puestoSeleccionado">
        <td>{{postulacion.trabajo.nombre_empresa}}</td>
        <td>{{postulacion.trabajo.puesto}}</td>
            <td>{{postulacion.user.nombre}}</td>
          <td>{{postulacion.fecha.toDate() | date: "dd/MM/yyyy" }}</td>
          <td> <button
            class="btn btn-success"
            (click)="descargarCV(postulacion.cv)"
          >
          <i class="fa fa-download" aria-hidden="true"></i>
          </button></td>
        </tr>
      </tbody>

      <tbody *ngIf="loader">
        <tr *ngFor="let item of [1,2,3,4,5,6,7,8,9,10]">
            <td *ngFor="let item of [1,2,3,4]">
              <ngx-skeleton-loader appearance="line" [theme]="{
              'width':'100%' 
              }"></ngx-skeleton-loader>  
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
