<!-- Fecha de inicio -->
<div class="row" [formGroup]="formGroup">
    <div class="col" formGroupName="fecha_inicio">
      <label>Fecha de Inicio</label>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="mes">Mes </label>
                <ng-select 
                appearance="outline" 
                [ngClass]="{ 'is-invalid': false }"
                [searchable]="false" 
                [clearable]="false" 
                formControlName="mes">
                    <ng-option *ngFor="let mes of meses_inicio" [value]="mes.nombre">
                      {{ mes.nombre }}
                    </ng-option>
                </ng-select>
                
                <small *ngIf="formGroup.get('fecha_inicio.mes')?.invalid && formGroup.get('fecha_inicio.mes')?.touched" id="passwordHelp" class="text-danger">
                  Rellene este campo
                </small>


          </div>
        </div>
        <div class="col">


          <div class="form-group">
            <label>Año </label>
                <ng-select 
                appearance="outline" 
                [ngClass]="{ 'is-invalid': false }"
                [searchable]="false" 
                [clearable]="false" 
                formControlName="year"
                (change)="anio_actual('inicio')">
                    <ng-option *ngFor="let anio of anios" [value]="anio">
                      {{ anio }}
                    </ng-option>
                </ng-select>
                
                <small *ngIf="formGroup.get('fecha_inicio.year')?.invalid && formGroup.get('fecha_inicio.year')?.touched" id="passwordHelp" class="text-danger">
                  Rellene este campo
                </small>


          </div>
        </div>
      </div>
    </div>
    <div class="col" formGroupName="fecha_fin">
      <label>Fecha de Finalización</label>
      <div class="row">
        <div class="col">

          <div class="form-group">
            <label for="mes">Mes </label>
                <ng-select 
                appearance="outline" 
                [searchable]="false" 
                [clearable]="false" 
                formControlName="mes">
                    <ng-option *ngFor="let mes of meses_fin" [value]="mes.nombre">
                      {{ mes.nombre }}
                    </ng-option>
                </ng-select>
                
             
                <small *ngIf="formGroup.get('fecha_fin.mes')?.invalid && formGroup.get('fecha_fin.mes')?.touched" id="passwordHelp" class="text-danger">
                  Rellene este campo
                </small>


          </div>
        </div>
        <div class="col">

          
          <div class="form-group">
            <label>Año </label>
                <ng-select 
                appearance="outline" 
                [searchable]="false" 
                [clearable]="false" 
                formControlName="year"
                (change)="anio_actual('fin')">
                    <ng-option *ngFor="let anio of anios" [value]="anio">
                      {{ anio }}
                    </ng-option>
                </ng-select>
                <small *ngIf="formGroup.get('fecha_fin.year')?.invalid && formGroup.get('fecha_fin.year')?.touched" id="passwordHelp" class="text-danger">
                  Rellene este campo
                </small>


          </div>
        </div>
      </div>
      <div class="form-group form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="Check1"
          [(ngModel)]="actualidad"
          [ngModelOptions]="{standalone: true}"
          (change)="trabajoActualmente($event)"
        />
        <label class="form-check-label" for="Check1">Trabajo Actualmente</label>
      </div>
    </div>
  </div>