
  
  <div class="container" id="main">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-8 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Recuperar contraseña</h5>
            <form [formGroup]="loginForm" (ngSubmit)="recuperarContrasenia()">
              <div class="form-floating mb-3">
                <input type="email" formControlName="email" class="form-control" id="floatingInput" placeholder="Email">
              </div>
              <div *ngIf="error" class="alert alert-danger" role="alert">
                {{error}}
              </div>

              <div class="d-grid">
                <button class="btn btn-success btn-login text-uppercase fw-bold" type="submit">Recuperar Contraseña</button>
              </div>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
 