<app-navbar [lugares]="lugares"></app-navbar>

<div class="container">
  <h4 class="my-3 ">Se han encontrado 2 resultados para "{{puesto}}" en {{lugar}}:</h4>
    <div class="row">
      
      <ng-container *ngIf="loader">
        <app-jobcard-skeleton  *ngFor="let item of [1,2,3,4,5,6,7,8,9]" class="col-lg-4 my-3"></app-jobcard-skeleton>
      </ng-container>
      
      <app-jobcard routerLink="/job/{{job.id}}"  [job]="job" *ngFor="let job of jobs" class="col-lg-4 my-3"></app-jobcard>
    
      
  
      
    </div>
  </div>