

.icons {
  color: #a5c854 !important;
}

body {
  font-family: "Roboto Condensed", sans-serif;
}


.titles {
  color: #3f444a;
  font-size: 30px;
  font-weight: 600 !important;
}

.text-grey {
  color: #5c6873;
  font-size: 17px;
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
}















