<section class="py-5">
  <div class="container text-center">
    <h1 class="titles mt-5">{{'quienes-somos' | translate}}</h1>
    <p [innerHTML]="'quienes-somos-text' | translate"></p>


    <div class="row" style="margin-top: 100px;">
      <div class="col-sm text-right mb-5" style="border-right: solid 0.5px;">
        <div class="row">

          <div class="col-11">

            <h5>
              <a href="https://ar.linkedin.com/in/karina-braojos-b5aaab8/es" target="_blank">
                <i class="fa fa-linkedin icons mx-3"></i>
              </a>
              KARINA BRAOJOS
            </h5>
            <p [innerHTML]="'karina' | translate"></p>
          </div>

          <div class="col icons">
            <!-- <i class="fa fa-user"></i> -->
          </div>
        </div>
      </div>
      <div class="col-sm text-left">
        <div class="row">
          <div class="col icons">
            <!-- <i class="fa fa-user"></i> -->
          </div>
          <div class="col-11">
            <h5>MARY LOTTERSBERGER
              <a href="https://ar.linkedin.com/in/mary-lottersberger-3a3b09148/es" target="_blank">
              <i class="fa fa-linkedin icons mx-3"></i>
            </a>
            </h5>
            <p [innerHTML]="'MARY' | translate"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="mouse">


</section>
