<div class="card" style="width: 100%" [formGroup]="trabajoNuevoForm">
  <div class="card-body">
    <div class="form-group">
      <label for="titulo">Titulo del aviso * </label>
      <input
        type="text"
        placeholder="Titulo del aviso"
        class="form-control"
        formControlName="titulo"
      />
      <small *ngIf="trabajoNuevoForm.get('titulo')?.invalid && trabajoNuevoForm.get('titulo')?.touched" id="passwordHelp" class="text-danger">
        Rellene este campo
      </small>
    </div>
    <div class="row">
      <div class="col">
        <app-select-puesto [formGroup]="trabajoNuevoForm" [obligatorio]="true"></app-select-puesto>
     
          <app-select-rubro [formGroup]="trabajoNuevoForm"></app-select-rubro>
     
        <div class="form-group">
          <label>Tipo de Trabajo </label>
          <ng-select 
          appearance="outline" 
          [searchable]="false" 
          [clearable]="false" 
          formControlName="tipo_trabajo">
              <ng-option *ngFor="let tipo_trabajo of tipo_trabajo" [value]="tipo_trabajo">
                {{ tipo_trabajo }}
              </ng-option>
          </ng-select>
  
          <small *ngIf="trabajoNuevoForm.get('tipo_trabajo')?.invalid && trabajoNuevoForm.get('tipo_trabajo')?.touched" id="passwordHelp" class="text-danger">
            Rellene este campo
          </small>
        </div>
      </div>
      <div class="col">
        <app-select-pais-provincia-ciudad [formGroup]="trabajoNuevoForm" [user]="lugar"></app-select-pais-provincia-ciudad>
      </div>
    </div>
    <hr class="my-4" />
    <div class="form-group">
      <label for="descripcion">Descripcion *</label>

      <ckeditor
        #ckeditorDescripcion
        formControlName="descripcion"
      >
      </ckeditor>

      <small *ngIf="trabajoNuevoForm.get('descripcion')?.invalid && trabajoNuevoForm.get('descripcion')?.touched" id="passwordHelp" class="text-danger">
        Rellene este campo
      </small>

   
    </div>

    <hr class="my-4" />

    <div class="form-group" style="width: 50%">

      <label>Prioridad de trabajo * </label>
        <ng-select 
              [items]="prioridad_trabajo"
            formControlName="prioridad_trabajo"
            >
        </ng-select>
        <small *ngIf="trabajoNuevoForm.get('prioridad_trabajo')?.invalid && trabajoNuevoForm.get('prioridad_trabajo')?.touched" id="passwordHelp" class="text-danger">
          Rellene este campo
        </small>
  
     
    </div>
  </div>
  <div class="card-footer">
    <button
      class="btn btn-success rounded-pill"
      (click)="publicar()"
      style="float: right; width: 20%"
    >
      Publicar
    </button>
  </div>
</div>
