<div [formGroup]="formPerfil">
  <span *ngIf="id_postulante">
    <h5 *ngIf="!datosContacto">Nombre desconocido</h5>
    <h5 *ngIf="datosContacto">{{ datosContacto.nombre }}</h5>
    <h5 class="mt-3">Datos de Contacto</h5>
    <div class="row">
      <div *ngIf="!datosContacto" class="bloqueado">
        <p>Revela el CV para obtener los datos de contacto de este usuario</p>
        <button class="btn btn-success" (click)="revelarUsuario()">
          Revelar Usuario
        </button>
      </div>
      <div class="col">
        <!-- contacto -------------------->
        <!-- email -->
        <div class="form-group" *ngIf="formPerfil.value.email">
          <label for="email">Email</label>
          <input
            type="text"
            placeholder="email"
            class="form-control"
            formControlName="email"
            readonly
          />
        </div>
        <!-- emailalternativo -->
        <div class="form-group" *ngIf="formPerfil.value.emailalternativo">
          <label for="emailalternativo">Email Alternativo</label>
          <input
            type="text"
            placeholder="emailalternativo"
            class="form-control"
            formControlName="emailalternativo"
            readonly
          />
        </div>
      </div>
      <div class="col">
        <!-- telefono1 -->
        <div class="form-group" *ngIf="formPerfil.value.telefono1">
          <label for="telefono1">Telefono1</label>
          <input
            type="text"
            placeholder="telefono1"
            class="form-control"
            formControlName="telefono1"
            readonly
          />
        </div>
        <!-- telefono2 -->
        <div class="form-group" *ngIf="formPerfil.value.telefono2">
          <label for="telefono2">Telefono2</label>
          <input
            type="text"
            placeholder="telefono2"
            class="form-control"
            formControlName="telefono2"
            readonly
          />
        </div>
      </div>
    </div>


    <span *ngIf="cvs.cvPostulado">
      <a [href]="cvs.cvPostulado" class="h5 my-3">{{cvs.cvPostulado.includes('mp4') ? "Video" : ""}} Curriculum Postulado</a>
    </span>

    <span *ngIf="cvs.cvs.length > 0">
      <h5 class="my-3" *ngIf="cvs.cvPostulado.length>0">Otros Curriculums</h5>
      <h5 class="my-3" *ngIf="cvs.cvPostulado.length==0">Curriculums</h5>
      <div *ngFor="let cv of cvs.cvs; let i = index">
        <a [href]="cv" target="_blank">{{ cv.includes('mp4') ? "Video" : "" }} CV {{ i + 1 }}</a>
      </div>
    </span>


    <div class="dropdown-divider"></div>
  </span>
  <div class="row">
    <div class="col">
      <div *ngIf="admin && this.formPerfil.value.categoria" class="form-group">
        <label>Categoría *</label>
        <select
          class="form-control"
          data-width="100%"
          title="Elija un estado"
          formControlName="categoria"
        >
          <option *ngFor="let categoria of categorias" [ngValue]="categoria">
            {{ categoria.categoria }}
          </option>
        </select>
      </div>

      <div class="form-group" *ngIf="formPerfil.value.puesto">
        <label for="Puesto">Puesto</label>
        <input
          type="text"
          placeholder="Puesto"
          class="form-control"
          formControlName="puesto"
          readonly
        />
      </div>

      <div class="form-group" *ngIf="formPerfil.value.rubro">
        <label >Rubro</label>
        <input
          type="text"
          placeholder="Rubro"
          class="form-control"
          formControlName="rubro"
          readonly
        />
      </div>

      <!-- fecha nacimiento -->
      <div class="form-group" *ngIf="formPerfil.value.fecha_nacimiento">
        <label for="Puesto">Fecha de Nacimiento</label>
        <input
          type="text"
          class="form-control"
          formControlName="fecha_nacimiento"
          readonly
        />
      </div>

      <!-- genero -->
      <div class="form-group" *ngIf="formPerfil.value.genero">
        <label>Genero</label>
        <input
          type="text"
          class="form-control"
          formControlName="genero"
          readonly
        />
      </div>
      <!-- licencia -->
      <div class="form-check mt-4" *ngIf="formPerfil.value.licencia">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="licencia"
          id="licencia"
          readonly
        />
        <label class="form-check-label" for="licencia">
          Poseo licencia de conducir
        </label>
      </div>

      <div class="form-check mt-4" *ngIf="formPerfil.value.movilidad">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="movilidad"
          id="movilidad"
          readonly
        />
        <label class="form-check-label" for="movilidad">
          Poseo movilidad propia
        </label>
      </div>

      <div class="form-check mt-4" *ngIf="formPerfil.value.discapacidad">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="discapacidad"
          id="discapacidad"
          readonly
        />
        <label class="form-check-label" for="discapacidad">
          Poseo algún tipo de discapacidad
        </label>
      </div>
    </div>

    <div class="col">
      <!-- pais -->
      <div class="form-group" *ngIf="formPerfil.value.pais">
        <label for="pais">País</label>
        <input
          type="text"
          placeholder="País"
          class="form-control"
          formControlName="pais"
          readonly
        />
      </div>
      <!-- Ciudad -->
      <div class="form-group" *ngIf="formPerfil.value.provincia">
        <label for="provincia">Provincia</label>
        <input
          type="text"
          placeholder="Provincia"
          class="form-control"
          formControlName="provincia"
          readonly
        />
      </div>
      <!-- provincia -->
      <div class="form-group" *ngIf="formPerfil.value.ciudad">
        <label for="ciudad">Ciudad</label>
        <input
          type="text"
          placeholder="Ciudad"
          class="form-control"
          formControlName="ciudad"
          readonly
        />
      </div>

      <div class="form-group" *ngIf="formPerfil.value.sueldo">
        <label for="ciudad">Salario en mano pretendido</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            type="text"
            placeholder="Sueldo"
            class="form-control"
            formControlName="sueldo"
            readonly
          />
        </div>
      </div>
    </div>
  </div>

  <span *ngIf="this.user?.idiomas">
    <div class="dropdown-divider"></div>

    <h5 class="mt-3">Idiomas</h5>

    <div class="row" *ngFor="let idioma of this.user.idiomas">
      <div class="col">
        <div class="form-group">
          <label for="email">Idioma</label>
          <input
            type="text"
            class="form-control"
            [value]="idioma.idioma"
            readonly
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="email">Nivel Oral</label>
          <input
            type="text"
            class="form-control"
            [value]="idioma.nivel_oral"
            readonly
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="email">Nivel escrito</label>
          <input
            type="text"
            class="form-control"
            [value]="idioma.nivel_escrito"
            readonly
          />
        </div>
      </div>
    </div>
  </span>
  <div class="dropdown-divider"></div>
  <span *ngIf="experiencias_laborales.length > 0">
    <h5 class="my-3">Experiencia Laboral</h5>
    <div class="row" *ngFor="let experiencia of experiencias_laborales">
      <app-experiencias-laborales
        [Experiencia]="experiencia"
      ></app-experiencias-laborales>
      <div class="dropdown-divider"></div>
    </div>

    <div class="dropdown-divider"></div>
  </span>
  <span *ngIf="formaciones.length > 0">
    <h5 class="my-3">Formación</h5>
    <div *ngFor="let formacion of formaciones">
      <div class="row">
        <app-formaciones [formacion]="formacion"></app-formaciones>
      </div>
      <div class="dropdown-divider"></div>
    </div>
  </span>
</div>

<div *ngIf="admin" class="card-footer">
  <button
    class="btn btn-success rounded-pill"
    style="float: right; width: 20%"
    (click)="guardar()"
  >
    Guardar perfil
  </button>
</div>
