<h4 class="py-4">Usuarios</h4>

<div class="card">
  <div class="card-body">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Tipo</th>
          <th scope="col">Categoria</th>
        </tr>
      </thead>
      <tbody *ngIf="!loader">
        <tr *ngFor="let user of users" class="userFila" [routerLink]="'/empresa/admin/usuario/' + user.id">
          <td>{{ user.nombre }}</td>
          <td>{{ user.tipo }}</td>
          <td>{{ user.categoria }}</td>
        </tr>
      </tbody>

      <tbody *ngIf="loader">
        <tr *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
          <td *ngFor="let item of [1, 2, 3, 4]">
            <ngx-skeleton-loader
              appearance="line"
              [theme]="{
                width: '100%'
              }"
            ></ngx-skeleton-loader>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>