<div class="row py-4">
    <div class="col">
      <h4 style="margin-top: 9px">Verificar Usuarios</h4>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th >Nombre</th>
        <th >Email</th>
        <th ></th>
        <th ></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.nombre }}</td>
        <td>{{ user.email }}</td>
        <td><button class="btn btn-secondary" data-toggle="modal" data-target="#perfilModal">Ver Perfil</button></td>
        <td><button class="btn btn-success" data-toggle="modal" data-target="#verificarModal" (click)="userSelected = user">Verificar</button></td>
      </tr>
    </tbody>
  </table>

  <!-- Perfil menu -->
  <div class="modal fade" id="perfilModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Verificar Modal -->
  <div class="modal fade" id="verificarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Verificar usuario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Estas seguro de verificar el usuario {{userSelected?.nombre}} ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="verificarUsuario(userSelected)" data-dismiss="modal">Verificar</button>
        </div>
      </div>
    </div>
  </div>