<div class="border-bottom pb-3">
  <span class="h4"> Datos Personales </span>
</div>

<div class="row my-3" [formGroup]="datosPersonales">
  <div class="col-8">
    <div class="form-group">
      <label for="Puesto">Nombre *</label>
      <input type="text" class="form-control" formControlName="nombre" />
      <!-- <small *ngIf="error.puesto" id="passwordHelp" class="text-danger">
              Rellene este campo
            </small> -->
    </div>

    <div class="form-group">
      <label for="Puesto">Fecha de Nacimiento</label>
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="dd/mm/yyyy"
              name="d2"
              [formControlName]="'fecha_nacimiento'"
              ngbDatepicker
              #d2="ngbDatepicker"
              [startDate]="{ month: 1, year: 2000 }"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary calendar"
                (click)="d2.toggle()"
                type="button"
              >
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="form-group">
      <label>País</label>
      <select
        class="selectpicker"
        data-width="100%"
        title="Elija un País"
        formControlName="pais"
        (change)="elegirPais()"
      >
        <option value="">Elija un país</option>
        <option *ngFor="let pais of paises" [value]="pais">
          {{ pais }}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="this.datosPersonales.value.pais">
      <label>Provincia</label>
      <select
        class="selectpicker"
        data-live-search="true"
        data-width="100%"
        title="Elija una Provincia"
        formControlName="provincia"
        (change)="elegirProvincia()"
      >
        <option value="">Elija una Provincia</option>
        <option
          *ngFor="let provincia of provincias"
          [value]="provincia.provincia"
        >
          {{ provincia.provincia }}
        </option>
      </select>
    </div>

    <div class="form-group" *ngIf="this.datosPersonales.value.provincia">
      <label>Ciudad</label>
      <select
        class="selectpicker"
        data-live-search="true"
        data-width="100%"
        title="Elija una Ciudad"
        formControlName="ciudad"
      >
        <option value="">Elija una ciudad</option>
        <option *ngFor="let ciudad of ciudades" [value]="ciudad">
          {{ ciudad }}
        </option>
      </select>
    </div>
    <div class="dropdown-divider"></div>

    <div class="form-check mt-4">
      <input
        class="form-check-input"
        type="checkbox"
        formControlName="licencia"
        id="licencia"
      />
      <label class="form-check-label" for="licencia">
        Poseo licencia de conducir
      </label>
    </div>

    <div class="form-check mt-4">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="movilidad"
          id="movilidad"
        />
        <label class="form-check-label" for="movilidad">
          Poseo movilidad propia
        </label>
      </div>

      <div class="form-check mt-4">
        <input
          class="form-check-input"
          type="checkbox"
          formControlName="discapacidad"
          id="discapacidad"
        />
        <label class="form-check-label" for="discapacidad">
          Poseo algún tipo de discapacidad
        </label>
      </div>
    

        <button class="btn btn-success rounded-pill mt-4">Actualizar perfil</button>


  </div>

  <div class="col">
      <p>

          Foto de perfil
      </p>
      <div>
          <img
              src="https://via.placeholder.com/100"
              width="200"
              height="200"
              class="rounded-circle mr-3"
            />
            <div class="btn-group">
                <button type="button" style="margin-top: -60px;height: 35px;" class="btn dropdown-toggle" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                  Editar
                </button>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left">
                  <button class="dropdown-item" type="button">Subir nueva foto</button>
                  <button class="dropdown-item" type="button">Eliminar Foto</button>
                </div>
              </div>
      </div>
    </div>






</div>
