<app-navbar [lugares]="provincias"></app-navbar>

<div class="container" id="main">

  <div class="row">
    <div class="col-3 mt-3 header-nav">
      <h4>{{ FiltrosService.cantidad_trabajos }} Resultados</h4>


      <!-- Limpiar Filtros -->
      <p class="listFilter" (click)="limpiarFiltros()">Limpiar Filtros</p>
      <h6>Buscar</h6>
      <div class="input-group my-2" >
        <input type="text" class="form-control rounded-pill" placeholder="Buscar" [(ngModel)]="filters.busqueda">
      </div>

      <h6>Fecha de Publicación</h6>
      <ul>
        <li class="listFilter" 
        *ngFor="let fecha of FiltrosService.fechas"
         (click)="filtro('fecha', fecha.id)"
         [ngClass]="{ 'text-primary': filters.date == fecha.id }"
         >
          {{fecha.id}} 
          <span class="text-muted"> ({{fecha.count}})</span>
        </li>
      </ul>

      <!-- Pais -->
      <h6>País</h6>
      <ul>
        <li
          class="listFilter"
          *ngFor="let pais of FiltrosService.paises"
          (click)="filtro('pais', pais.id)"
          [ngClass]="{ 'text-primary': filters.pais == pais.id }"
        >
          {{ pais.id }} 
          <span class="text-muted"> ({{ pais.count }})</span>
        </li>
      </ul>

      <!-- provincia -->
      <div *ngIf="filters.pais">
        <h6>Provincia</h6>
        <ul>
          <li
            class="listFilter"
            *ngFor="let provincia of FiltrosService.provincias"
            (click)="filtro('provincia', provincia.id)"
            [ngClass]="{ 'text-primary': filters.provincia == provincia.id }"
          >
            {{ provincia.id }}
            <span class="text-muted"> ({{ provincia.count }})</span>
          </li>
        </ul>
      </div>
      <!-- ciudad -->
      <div *ngIf="filters.provincia">
        <h6>Ciudad</h6>
        <ul>
          <li
            class="listFilter"
            *ngFor="let ciudad of FiltrosService.ciudades"
            (click)="filtro('ciudad', ciudad.id)"
            [ngClass]="{ 'text-primary': filters.ciudad == ciudad.id }"
          >
            {{ ciudad.id }}
            <span class="text-muted"> ({{ ciudad.count }})</span>
          </li>
        </ul>
      </div>

      <!-- Puesto ----->
      <h6>Puesto</h6>
      <ul>
        <li
          class="listFilter"
          *ngFor="let puesto of FiltrosService.puestos"
          (click)="filtro('puesto', puesto.id)"
          [ngClass]="{'text-primary': filters.puesto==puesto.id}"
        >
          {{ puesto.id }}
         <span class="text-muted"> ({{ puesto.count }})</span>
        </li>
      </ul>

    </div>
    <!-- <app-carrousel-jobcard *ngIf="jobsCarrousel" [jobs]="jobsCarrousel" [loader]="loader"></app-carrousel-jobcard> -->
    <div class="col">
     
      <div class="row" style="height:100%">
        <!-- Skeleton -->

        <ng-container *ngIf="loader">
          <app-jobcard-skeleton
            *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9]"
            class="col-xl-4 col-lg-6 my-3"
          ></app-jobcard-skeleton>
        </ng-container>

        <!-- Card Job -->
        <ng-container 
        *ngFor="
        let job of jobs
        | filter: filters.provincia
        | filterDate: filters.date
        | filterPais: filters.pais
        | filterCiudad: filters.ciudad
        | filterPuesto: filters.puesto
        | filterBusqueda: filters.busqueda
        "
        >

        <app-trabajo-card-empresa
        routerLink="{{ job.id }}"
        [job]="job"
        *ngIf="jobs.length > 0"
        class="col-xl-4 col-lg-6 my-3"
        [empresa]="false"
      >
      </app-trabajo-card-empresa>
      

      </ng-container>
      
      <ng-container *ngIf="!loader">
        <div 
        *ngIf="!(jobs 
        | filter: filters.provincia
        | filterDate: filters.date
        | filterPais: filters.pais
        | filterCiudad: filters.ciudad
        | filterPuesto: filters.puesto
        | filterBusqueda: filters.busqueda
        )?.length"
        class="text-center"
          style="    
          width: 100%;
          margin: auto;"
         >
   
            
              <h4>No hay Avisos con estos filtros.</h4><h5> Pruebe <a style="cursor: pointer; " class="text-primary" (click)="limpiarFiltros()">limpiar filtros</a> y volver a filtrar </h5>
               

        </div>
      </ng-container>
     
    </div>
    </div>
  </div>
</div>


<app-footer *ngIf="!loader"></app-footer>