<!-- Modal -->

 

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Agregar Formación</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body" [formGroup]="formacionForm" >
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="Puesto">Titulo / Carrera * </label>
          <input
          type="text"
          placeholder="Titulo / Carrera"
          class="form-control"
          formControlName="titulo"
        />
           
         
        <small *ngIf="formacionForm.get('titulo')?.invalid && formacionForm.get('titulo')?.touched" id="passwordHelp" class="text-danger">
          Rellene este campo
        </small>
        </div>

        <div class="form-group">
          <label for="Puesto">Area de Estudio * </label>
          <input
          type="text"
          placeholder="Area de Estudio"
          class="form-control"
          formControlName="area_estudio"
        />

        <small *ngIf="formacionForm.get('area_estudio')?.invalid && formacionForm.get('area_estudio')?.touched" id="passwordHelp" class="text-danger">
          Rellene este campo
        </small>
        </div>
        <div class="form-group">
          <label for="Puesto">Tipo de Estudio * </label>
          <input
            type="text"
            placeholder="Tipo de Estudio"
            class="form-control"
            formControlName="tipo_estudio"
          />

          <small *ngIf="formacionForm.get('tipo_estudio')?.invalid && formacionForm.get('tipo_estudio')?.touched" id="passwordHelp" class="text-danger">
            Rellene este campo
          </small>
        </div>
       
     

      </div>
      <div class="col">
        <app-select-pais-provincia-ciudad [formGroup]="formacionForm" [user]="lugar" [obligatorio]="true"></app-select-pais-provincia-ciudad>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <app-periodo-laboral-formacion [formGroup]="formacionForm" [actualidad]="actualidad"></app-periodo-laboral-formacion>


    <div class="dropdown-divider"></div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Otros Conocimientos</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="6" formControlName="otros_conocimientos"></textarea>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">
      Cerrar
    </button>
    <button type="button" class="btn btn-success" (click)="enviarForm()">{{metodo}}</button>
  </div>


