<div  class="card" style="height: 269px;">


    <div class="card-body">

      <div class="row">
        <div class="col-4">
          <ngx-skeleton-loader appearance="circle" [theme]="{
              'height': '100px',
              'width':'100px'
        }"></ngx-skeleton-loader>
        </div>
        <div class="col">
            <ngx-skeleton-loader appearance="line" [theme]="{
               'width':'90%'
          }"></ngx-skeleton-loader>
          <h6 class="card-subtitle mb-2">
            <ngx-skeleton-loader appearance="line" [theme]="{
               'width':'45%'
            }"></ngx-skeleton-loader>
          </h6>
        </div>
      </div>

      <p class="card-text my-3" style="height: 72px;">
        <ngx-skeleton-loader appearance="line"></ngx-skeleton-loader>
        <br>
        <ngx-skeleton-loader appearance="line" [theme]="{
            'width':'60%'
 }"></ngx-skeleton-loader>
    </p>
    <div class="row">
      <div class="col">
        <h6 class="text-left font-weight-lighter" style="font-size: 0.8rem;"><ngx-skeleton-loader appearance="line" [theme]="{
          'width':'70%',
          'margin-top':'-10px'
}"></ngx-skeleton-loader></h6>
      </div>
      <div class="col">
        <h6 class="text-right font-weight-lighter" style="font-size: 0.8rem;"><ngx-skeleton-loader appearance="line" [theme]="{
          'width':'60%',
          'margin-top':'-10px'
}"></ngx-skeleton-loader></h6>
      </div>
    </div>

      



    </div>
  </div>