/* You can add global styles to this file, and also import other style files */

#toast-container > .toast-success {
    background-color: #A8CF46;
    color:black;
    font-size: 1.1rem !important;
}