/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

#toast-container > .toast-success {
    background-color: #A8CF46;
    color:black;
    font-size: 1.1rem !important;
}

.is-invalid{
    
}