<section class="py-5 action-human">

  <div class="container">
    <div class="card card-action-human">
      <div class="card-body">
        <h2 class="text-center">ACTION HUMAN CAPITAL CONSULTING</h2>
      </div>
    </div>

    <div class="text-center">

      <a class="icons" style="margin: 0 20px;" href="tel://+5491128500423"><i class="fa fa-whatsapp fa-2x whats"></i>
        <span style="color:white;">+54
          9 11 2850 0423</span></a>



      <a class="block" href="mailto:info@actionhcconsulting.com" style="margin: 0 20px;"> <i
          class="fa fa-envelope fa-2x icons "></i>info@actionhcconsulting.com</a>

      <span style="margin: 0 20px; color:white;"> <i class="fa fa-map-marker fa-2x icons"></i>Buenos Aires,
        Argentina</span>
    </div>
    
    <ul class="text-center mt-4">
      
        <a class="icons mx-4" href="https://www.linkedin.com/company/action-human-capital-consulting" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
      
      
        <a class="icons mx-4" href="https://twitter.com/actionhcc" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
     
      
        <a class="icons mx-4" href="https://www.facebook.com/pg/actionhcc/about/?ref=page_internal" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
     
     
        <a class="icons mx-4" href="https://www.instagram.com/actionhcc/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
    
    </ul>
 

  </div>

</section>

<footer class="footer">
  <div class="container">

    <p style="color: #a4aeb8;">2021 © Action Human Capital Consulting</p>
  </div>

</footer>