<div class="row py-4">
  <div class="col">
    <h4 style="margin-top: 9px">Nuevo trabajo</h4>
  </div>
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #fafbfe">
        <li class="breadcrumb-item">
          <a routerLink="/empresa/trabajos">Trabajos</a>
        </li>
        <li class="breadcrumb-item active">Nuevo Trabajo</li>
      </ol>
    </nav>
  </div>
</div>

<div class="card" style="width: 100%">
  <div class="card-body" >
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="Puesto">Puesto / Posición * </label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': error.puesto}" id="Puesto" [(ngModel)]="form.puesto" />
          <small *ngIf="error.puesto" id="passwordHelp" class="text-danger">
            Rellene este campo
          </small>    
        </div>
        <div class="form-group">
          <label for="descripcions">Tipo de Empresa *</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': error.tipo_empresa}" id="tipo_empresa" [(ngModel)]="form.tipo_empresa"  />
          <small *ngIf="error.tipo_empresa" id="passwordHelp" class="text-danger">
            Rellene este campo
          </small> 
        </div>

        <div class="form-group">
          <label>País *</label>
          <select
            class="selectpicker"
            [ngClass]="{'is-invalid':error.pais}"
            data-width="100%"
            title="Elija un País"
            (change)="setProvincias($event)"
          >
            <option *ngFor="let pais of paises" [value]="pais">
              {{ pais }}
            </option>
          </select>
          <div *ngIf="error.pais" class="invalid-feedback">
            Seleccione un país
          </div>
        </div>

        <div class="form-group" *ngIf="paisSeleccionado">
          <label>Provincia *</label>
          <select
            class="selectpicker"
            [ngClass]="{'is-invalid':error.provincia}"
            data-live-search="true"
            data-width="100%"
            title="Elija una Provincia"
            (change)="setCiudad()"
            [(ngModel)]="provinciaSeleccionada"
          >
            <option *ngFor="let provincia of provincias" [ngValue]="provincia">
              {{ provincia.provincia }}
            </option>
          </select>
          <div *ngIf="error.provincia" class="invalid-feedback">
            Seleccione una provincia
          </div>
        </div>

        <div class="form-group" *ngIf="provinciaSeleccionada">
          <label>Ciudad *</label>
          <select
            class="selectpicker"
            [ngClass]="{'is-invalid':error.ciudad}"
            data-live-search="true"
            data-width="100%"
            title="Elija una Ciudad"
            [(ngModel)]="ciudadSeleccionada"
          >
            <option
              *ngFor="let ciudad of provinciaSeleccionada.ciudades"
              [value]="ciudad"
            >
              {{ ciudad }}
            </option>
          </select>
          <div *ngIf="error.ciudad" class="invalid-feedback">
            Seleccione una Ciudad
          </div>
          
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="descripcion">Descripción *</label>
          
          <ckeditor
          [(ngModel)]="form.descripcion"
          >
        </ckeditor>
        
        <small *ngIf="error.descripcion" id="passwordHelp" class="text-danger">
          Rellene este campo
        </small> 
  
        </div>
      </div>

    </div>


  </div>
  <div class="card-footer ">

    
    <button class="btn btn-success rounded-pill" (click)="publicar()" style="float:right; width: 20%;">Publicar</button>
  </div>
</div>



<!-- <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1" id="exampleModal" #closeModal>
  <div class="modal-dialog modal-sm">
      <div class="modal-content" style="width: 48px">
        <div class="spinner-grow text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
  </div>
</div> -->
