<div class="row py-4">
  <div class="col">
    <h4 style="margin-top: 9px">Nuevo Aviso</h4>
  </div>
  <div class="col">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" style="background-color: #fafbfe">
        <li class="breadcrumb-item">
          <a routerLink="/empresa/avisos">Avisos</a>
        </li>
        <li class="breadcrumb-item active">Nuevo Aviso</li>
      </ol>
    </nav>
  </div>
</div>
<app-trabajo-nuevo></app-trabajo-nuevo>



<!-- <div class="modal fade bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1" id="exampleModal" #closeModal>
  <div class="modal-dialog modal-sm">
      <div class="modal-content" style="width: 48px">
        <div class="spinner-grow text-success" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
  </div>
</div> -->
