.footer {
  border-top: 1px solid rgba(152, 166, 173, 0.2);
  /* bottom: 0; */
  padding: 19px 24px 20px;
  /* position: absolute; */
  right: 0;
  color: #98a6ad;
  left: 0px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #98a6ad;
  text-decoration: none;
}

a {
  color: #98a6ad;
  text-decoration: none;
}
